node_modules/
.idea/
yarn.lock
data/
build/
# Coverage reports
coverage
# OS metadata
.DS_Store
Thumbs.db
# Ignore built ts files
dist/**/*
.env
# Ignore built js files
src/**/*.js
/test-results/
/playwright-report/
/playwright/.cache/
.nyc_output
