{
    "extends": "@istanbuljs/nyc-config-typescript",
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "**/*.spec.js",
        ".eslintrc.js",
        ".prettierrc.js"
    ],
    "all": true,
    "reporter": [
      "html", "text", "lcov"
    ]
}
